// global styles
@import "fonts";
@import "reset";

body {
	background: #e5e5e5;
	color: #222822;
}

h1 {
	text-align: center;
	margin-top: 50px;
	margin-bottom: 20px;
	font-size: 30px;
}
.app {
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
}
